.container
  %h1.fs-4
    認証
  %hr
  .bg-white.rounded.p-5.mt-3{ data: { controller: 'authenticate' } }
    = form_with url: '#', method: :post, data: { action: 'authenticate#handleSubmit' } do |f|
      .mb-3
        = f.email_field :email, placeholder: 'メールアドレス', data: { authenticate_target: 'email' }, class: 'form-control'
      .mb-3
        = f.password_field :password, placeholder: 'パスワード', data: { authenticate_target: 'password' }, class: 'form-control'
      = f.button 'ログイン', class: 'btn btn-primary'
  
    = form_with url: session_path, method: :post, data: { authenticate_target: 'form' } do |f|
      = f.hidden_field :email
      = f.hidden_field :encrypted_password
      = f.hidden_field :public_key
      = f.hidden_field :encrypted_private_key
      = f.hidden_field :encrypted_private_key_iv
