%div{ data: { controller: 'message-encryptor clear' } }
  = form_with model: TextMessage.new, url: '#', data: { action: 'message-encryptor#encrypt' } do |f|
    .mb-3
      = f.text_area :body, required: true, autocomplete: 'off', data: { message_encryptor_target: 'plain', clear_target: 'input' }, class: 'form-control'
    = f.button '送信', class: 'btn btn-primary'
  = form_with model: TextMessageForm.new, url: room_text_messages_path(room), data: { message_encryptor_target: 'form', action: 'turbo:submit-end->clear#clearAll' }  do |f|
    - room.memberships.each_with_index do |member, index|
      - enc_msg = TextMessageForm::EncryptedMessage.new(key_pair_id: member.latest_key_pair.id)
      = f.fields_for :encrypted_messages, enc_msg, index: do |ff|
        %div{ data: { message_encryptor_target: 'cipher', key_pair_id: ff.object.key_pair_id, public_key: ff.object.public_key } }
          = ff.hidden_field :membership_id, value: member.id
          = ff.hidden_field :key_pair_id, value: ff.object.key_pair_id
          = ff.hidden_field :cipher, data: { name: 'cipher', clear_target: 'input' }
          = ff.hidden_field :iv, data: { name: 'iv', clear_target: 'input' }
          = ff.hidden_field :encrypted_key, data: { name: 'encrypted_key', clear_target: 'input' }
