- set_sidebar_item :home
- require_master_key!

= turbo_stream_from @room
= turbo_stream_from current_membership

- other_members = @room.memberships.without(current_membership)
%details
  %summary
    参加しているメンバー
  .mt-1.vstack.gap-2.py-1.px-3.rounded.bg-body-tertiary
    - other_members.each do |member|
      .hstack.gap-3
        %span= member.name
        - user = member.user
        - if current_user.block_by_self?(user)
          = button_to 'ブロックを解除する', user_block_path(user), method: :delete, class: 'btn btn-link'
        - else
          = button_to 'ブロックする', user_block_path(user), method: :post, class: 'btn btn-link'

= turbo_frame_tag @room, src: room_messages_path(@room)

.position-sticky.bottom-0.bg-white.py-3{ style: 'z-index: 1' }
  = render 'rooms/message_form', room: @room
