!!! html
%html
  %head
    %title= content_for(:title) || "e2eemsg"
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    = stylesheet_link_tag 'application', "data-turbo-track": "reload"
    = javascript_include_tag 'application', type: "module", "data-turbo-track": "reload"
  %body
    = render 'layouts/messaging_session'
    %main.d-flex.flex-nowrap
      = render 'layouts/sidebar'
      .p-3.w-100.bg-body-secondary.position-relative= yield
